.menu {
  // z-index: 1004;
  position: fixed;
  display: flex;
  z-index: 3;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  .header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    svg {
      cursor: pointer;
      width: 100px;
      height: 100px;
      path {
        transition: color 0.5s;
      }

      &:hover {
        path {
          stroke: var(--color-primary-500);
        }
      }
    }
  }
  .body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    padding: 0 20px;
    .el {
      border-top: 1px solid white;
      display: flex;
      justify-content: center;
      cursor: pointer;
      perspective: 80vw;
      transform-origin: top;
      padding: 1.5rem 0;
      &:last-of-type {
        border-bottom: 1px solid white;
      }
      &:hover {
        .outer {
          .container {
            opacity: 1;
          }
        }
      }
    }
    a,
    p {
      color: white;
      text-transform: uppercase;
      font-size: clamp(1.5rem, 3vw, 2rem);
      line-height: 1.2;
      font-weight: 400;
      margin: 0px;
      text-decoration: none;
      letter-spacing: 0.02em;
    }
    .outer {
      display: flex;
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: hidden;
      pointer-events: none;
      will-change: top;
      .inner {
        background-color: var(--color-primary-500);
        position: absolute;
        white-space: nowrap;
        height: 100%;
        top: 100%;
        display: flex;
        will-change: top;
        .container {
          display: flex;
          align-items: center;
          animation: slider 20s linear infinite;
          transition: opacity 0.3s;
          position: relative;
          opacity: 0;

          &:nth-of-type(2) {
            transition-delay: -10s;
          }
          &:nth-of-type(3) {
            transition-delay: -15s;
          }
          .imageContainer {
            height: 6vw;
            width: 16vw;
            position: relative;
            overflow: hidden;
            border-radius: 3vw;
            margin-left: 1vw;
            margin-right: 1vw;
            display: flex;
            img {
              object-fit: cover;
            }
          }
          p {
            color: var(--color-secondary-900);
          }
        }
      }
      .background {
        background-color: var(--color-primary-500);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 100%;
      }
    }
  }
  .footer {
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin-top: auto;

    a {
      font-size: clamp(1rem, 2vw, 1.5rem);
      border: 2px solid white;
      padding: 0.5rem 1rem;
      border-radius: 30px;
      cursor: pointer;
    }
  }
}

@keyframes slider {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
